In [5]:
%matplotlib notebook
import pandas as pd
df = pd.read_csv("5x5_result.txt", delimiter=' ')

In [6]:
df

    x  y  result
0   1  1       2
1   1  2       3
2   1  3       4
3   1  4       5
4   1  5       6
5   2  1       3
6   2  2       6
7   2  3      10
8   2  4      15
9   2  5      21
10  3  1       4
11  3  2      10
12  3  3      20
13  3  4      35
14  3  5      56
15  4  1       5
16  4  2      15
17  4  3      35
18  4  4      70
19  4  5     126
20  5  1       6
21  5  2      21
22  5  3      56
23  5  4     126
24  5  5     252